<div class="selectCertificates">
  <h4>Listado de certifiados</h4>
  <div>
    <input type="text" placeholder="Busqueda">
    <select type="text">
      <option *ngFor="let certificate of certificates" [ngValue]="certificate.alias">{{certificate.alias}}
      </option>
    </select>
    <br>
    <button>Buscar</button>
  </div>
</div>
<div class="grid-container ">
  <span (click)="orderAlias()"><strong>Alias</strong></span>
  <span (click)="orderID_ORG()"><strong>Subject</strong></span>
  <span (click)="orderClient()"><strong>Caducidad</strong></span>
  <span (click)="orderContact()"><strong>Id-Org</strong></span>
  <span><strong>Acciones</strong></span>
</div>

<app-certificates-view [certificates]="certificates">
</app-certificates-view>
