<div class="selectCertificates">
  <div>
    <input type="text" [(ngModel)]="textBusqueda" placeholder="Busqueda">
    <select type="text"  [(ngModel)]="selectedOption">
      <option *ngFor="let value of findCertificates" 
       [ngValue]="value.name">{{value.name}}
      </option>
    </select>   
    <button class="buttonSearch" (click)="findCertificate()" >Buscar</button>
    <button mat-icon-button (click)="redirectCaducadosCertificates()">
        <mat-icon class="icon">notifications</mat-icon>
        <span class="badge" *ngIf="badgeCount > 0">{{badgeCount}}</span>
      </button>
  </div>
</div>

<div class="grid-container ">
  <span (click)="orderAlias()"><strong>Alias</strong></span>
  <span (click)="orderSubject()"><strong>Subject</strong></span>
  <span (click)="orderDate()"><strong>Caducidad</strong></span>
  <span (click)="orderContact()"><strong>Id-Org</strong></span>
  <span><strong>Acciones</strong></span>
</div>

<!--Imagen spinner de carga-->
<app-spinner *ngIf="loanding"></app-spinner>


<!--  -->
<app-certificates-view *ngIf="!loanding" [certificates]="certificates"></app-certificates-view>
