nav {
    padding: 1em;
    margin: 1em;
    display: flex;
    justify-content: space-between;
    background:#98CB00   ;
  }

  a {
    padding-bottom: 0.05em;
    color: white;
    margin: 1em;
    text-decoration: none;
  }

  .active {
    border-bottom: solid 4px white;
  }