nav {
    padding: 1em;
    display: flex;
    justify-content: center;
    background:#98CB00   ;
  }

  a {
    color: white;
    margin: 1em;
    text-decoration: none;
  }

  .active {
    border-bottom: solid 4px black;
  }