<div>
  <div class="grid-container ">
    <span class="content" *ngFor="let certificado of certificates">
      <span class="scrollItemGrid">{{certificado.alias}}</span>
      <span class="scrollItemGrid">{{certificado.id_org}}</span>
      <span class="scrollItemGrid">{{certificado.cliente}}</span>
      <span class="scrollItemGrid">{{certificado.contacto}}</span>
      <span class="scrollItemGrid">
        <i class="material-icons">delete</i>
        <i class="material-icons">edit</i>
      </span>
    </span>
  </div>
</div>
