 table {
   width: 100%;
 }

 table,
 th,
 td {
   border-bottom: 2px solid white;
   text-align: center;
   border-collapse: collapse;
   background: #98CB00;
 }

 th,
 td {
   color: white;
   padding: 15px;
 }

 .listadoCertificados {
   display: flex;
   height: 150vh;
   flex-wrap: wrap;
   justify-content: center;
   overflow: scroll;
   text-align: center;
 }

 .certificado {
   margin: 1em;
   border-radius: 4px;
   justify-content: space-evenly;
   width: 50vh;
   height: 50vh;
   background: whitesmoke;
 }

 i {
   color: black;
   cursor: pointer;
 }

 i:hover {
   transform: scale(1.1);
 }

 th {
   color: white;
   font-size: 1em;
 }

 .grid-container {
   overflow: scroll;
   max-height: 60vh;
   margin: 0em 0.4em 0 0.4em;
   display: grid;
   grid-template-columns: repeat(5, 1fr);
   border-left: 1px solid black;
   border-right: 1px solid black;
   border-bottom: 1px solid black;
   text-align: center;
 }

 .scrollItemGrid{
   word-wrap: break-word;
    overflow-x: scroll;
    background-color: white;
    opacity: 0.5;
 }
 .content {
    display: contents;
 }

 @media (max-width : 420px){
  span strong{
    border-bottom: solid 2px black;
    font-size: 15px;
  } 
  span{
    font-size: 15px;
  }
}