<!--Imagen spinner de carga-->
<div class="spinnerImg" *ngIf="loanding" class="spinnerImg">
  <img src="assets/spinner.gif" />
</div>

<!--Imagen logo-->
<div *ngIf="!loanding" class="img">
    <img src="assets/gtt1.png" alt="Smiley face" height="200" width="400">
  </div>

<!--Formulario de registro-->
<form *ngIf="!loanding" (submit)="loginUser()">

  <div class="inputs">
    <input type="text" placeholder="Nombre de usuario" [(ngModel)]="username" name="username" />
    <input type="password" placeholder="Escribe tu contraseña" [(ngModel)]="password" name="password" />
  </div>

  <button type="submit" class="button">Entrar</button>

  <div *ngIf="successLogin" class="alert alert-danger" role="alert">
    Error al entrar al sistema
  </div>

</form>

<!--Span de aviso de registro-->
<div *ngIf="!loanding" class="noRegistrado">
    <span>No estás registrado? <a class="link" routerLink="/register">Registarse</a></span>
</div>
