<app-navbar></app-navbar>

<div class="spinnerImg" *ngIf="loanding" class="spinnerImg">
  <img src="assets/spinner.gif" />
</div>

  <div class="inputs">
  <form>
      <h5>Crear certificado</h5>
    <br>
    <div>
    <input type="file" accept=".p12" (change)="changeListener($event)">
    <input type="text" placeholder="Alias" [(ngModel)]="prubea" name="prueba" />
    <input type="password" placeholder="Contraseña" [(ngModel)]="prubea" name="prueba" />
    <input type="text" placeholder="ID_ORG" [(ngModel)]="prubea" name="prueba" />
    <input type="text" placeholder="Cliente" [(ngModel)]="prubea" name="prueba" />
    <input type="text" placeholder="Integraciones" [(ngModel)]="prubea" name="prueba" />
    <input type="text" placeholder="Contacto" [(ngModel)]="prubea" name="prueba" />
    <input type="text" placeholder="Repositorio" [(ngModel)]="prubea" name="prueba" />
    <p>Observaciones</p>
    <textarea rows="4" cols="50">
        At w3schools.com you will learn how to make a website. We offer free tutorials in all web development technologies. 
    </textarea>
  </div>

  <button type="submit" class="button">Crear</button>
  <div *ngIf="successLogin" class="alert alert-danger" role="alert">
    Error al entrar al sistema
  </div>
