<app-navbar></app-navbar>

<app-spinner *ngIf="loanding"></app-spinner>

<div *ngIf="!loanding" class="detalleCertificado">
  <div class="row2">
    <h4>Datos publicos certificado</h4>
    <br>
    <label>Alias </label>
    <p>{{certificate.alias}}</p>
    <label>Id_orga</label>
    <p>{{certificate.id_orga}}</p>
    <label>Nombre cliente</label>
    <p>{{certificate.nombre_cliente}}</p>
    <label>Contacto</label>
    <p>{{certificate.contacto_renovacion}}</p>
    <label>Repositorio</label><br>
    <p>{{certificate.repositorio}}</p>
    <label>Observaciones</label>
    <p>{{certificate.observaciones}}</p>
    <label>Lista de integracion</label>
    <p>{{certificate.integration_list}}</p>
  </div>
  <div class="row1">
      <h4>Datos privados certificado</h4>
      <br>
      <label>Entidad emisora</label>
      <p>{{certificate.entidad_emisiora}}</p>
      <label>Num serie</label>
      <p>{{certificate.numero_de_serie}}</p>
      <label>Subject</label>
      <p>{{certificate.subject}}</p>
      <label>Caducidad</label>
      <p>{{certificate.caducidad}}</p>
    </div>
</div>
