<form (submit)="saveUserJira()">
  <h1>Cuenta de Jira</h1>
  <input type="email" placeholder="Email de Jira" [(ngModel)]="email" name="email" />
  <input type="password" placeholder="Contraseña" [(ngModel)]="password" name="password" />
  <input type="text" placeholder="Url" [(ngModel)]="url" name="password" />
  <input type="text" placeholder="Nombre del proyecto" [(ngModel)]="proyecto" name="proyecto" />
  <input type="text" placeholder="Nombre del componente" [(ngModel)]="componente" name="componente" />
  <button type="submit" class="button">Guardar cuenta</button>
  <div *ngIf="successLogin" class="alert alert-danger" role="alert">
    Error al crear cuenta de jira
  </div>
</form>