/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
}

body{
    background-image: url("assets/edificiogtt.jpg");
    width: 100%;
    height: 100%;
    background-repeat: no-repeat; /* Do not repeat the image */}