<app-navbar></app-navbar>


<div class="grid-container">

  <table>
    <tr>
      <th>ID_ORG</th>
      <th>Cliente</th>
      <th>Contacto</th>
      <th>Acciones</th>
    </tr>
    <tr>
      <td>Jill</td>
      <td>Smith</td>
      <td>50</td>
      <td><button>Editar</button>
        <button>Actualizar</button>
        <button>Eliminar</button></td>
    </tr>
    <tr>
      <td>Jill</td>
      <td>Smith</td>
      <td>50</td>
      <td><button>Editar</button>
        <button>Actualizar</button>
        <button>Eliminar</button></td>
    </tr>
    <tr>
      <td>Jill</td>
      <td>Smith</td>
      <td>50</td>
      <td><button>Editar</button>
        <button>Actualizar</button>
        <button>Eliminar</button></td>
    </tr>
    <tr>
      <td>Jill</td>
      <td>Smith</td>
      <td>50</td>
      <td><button>Editar</button>
        <button>Actualizar</button>
        <button>Eliminar</button></td>
    </tr>
    <tr>
      <td>Jill</td>
      <td>Smith</td>
      <td>50</td>
      <td><button>Editar</button>
        <button>Actualizar</button>
        <button>Eliminar</button></td>
    </tr>
  </table>
</div>
