<app-navbar></app-navbar>


<div class="listadoCertificados">
    <div class="certificado"  *ngFor="let color of colours">
      <p>{{color.ayuntamiento}}</p>
      </div>     
</div>

<!--
<div class="grid-container">

  <table>
    <tr>
      <th>ID_ORG</th>
      <th>Cliente</th>
      <th>Contacto</th>
      <th>Acciones</th>
    </tr>

    <tr  *ngFor="let color of colours">
      <td>45345345345345435435345345435345l</td>
      <td>Smith</td>
      <td> {{color.name}}</td>
      <td><i class="material-icons">edit</i>
      <i class="material-icons">search</i>
      <i class="material-icons">delete</i>
      </td>
    </tr>  
  </table>
</div>
-->

