<!--Imagen spinner de carga-->
<div class="spinnerImg" *ngIf="loanding" class="spinnerImg">
  <img src="assets/spinner.gif" />
</div>


<!--Imagen logo-->
<div *ngIf="!loanding" class="img">
  <img src="assets/gtt1.png" alt="Smiley face" height="200" width="400">
</div>

<!--Formulario de registro
<form *ngIf="!loanding" (submit)="registerUser()">

  <div class="inputs">
    <input type="text" placeholder="Nombre de usuario" [(ngModel)]="username" name="username" />
    <input type="email" placeholder="Escribe tu email" [(ngModel)]="email" name="email" />
    <input type="password" placeholder="Escribe tu contraseña" [(ngModel)]="password" name="password" />
  </div>

  <button type="submit" class="button">Registrarse</button>

  <div *ngIf="successLogin" class="alert alert-danger" role="alert">
    Error al registarse
  </div>

</form>
-->

<form [formGroup]="registerForm" (ngSubmit)="registerUser()">
    <div class="form-group">
        <label>Username</label>
        <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
            <div *ngIf="f.username.errors.required">Username is required</div>
        </div>
    </div>
    <div class="form-group">
        <label>Email</label>
        <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required">Email is required</div>
            <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
        </div>
    </div>
    <div class="form-group">
        <label>Password</label>
        <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password is required</div>
            <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
        </div>
    </div>
    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">Register</button>
    </div>
</form>


          