form {
  padding-top: 2em;
  border-radius: 2em;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  background-color: #f4f5f7;
  width: 50vh;
  margin: auto;
  margin-bottom: 1em;
  margin-top: 2em;
}

.form-group button {
  all: unset;
  background: #98CB00;
  border-radius: 1em;
  flex-direction: column;
  padding: 0.5em;
  text-align: center;
  width: 20vh;
  align-content: center;
  margin: 1em 0;
  cursor: pointer;
  color: antiquewhite;
}

.form-group input {
  all: unset;
  border-bottom: 1px solid gray;
  background-color: whitesmoke;
  border-radius: 5px;
  margin: 0.5em 0;
  display: block;
  align-content: center;
}

span {
  margin: 1em;
}

.inputs {
  padding-top: 0.5em;
}

/* Clases imagenes*/
.img {
  margin-top: 1.5em;
  text-align: center;
}

.spinnerImg {
  padding-top: 10em;
  text-align: center;
}

/*Clases de span de login*/
.goToLogin {
  padding: 1em;
  width: 50vh;
  border-radius: 2em;
  background-color: #f4f5f7;
  text-align: center;
  margin: auto;
  margin-bottom: 2em;
}
.alert {
  margin: 1em;
}

.link:hover {
  color: #98CB00;
}

a:visited {
  color: #9c29a1;
}
